<form action="/admin/add-item?_csrf={{csrfToken}}" method="post" enctype="multipart/form-data">
<p> 
    <label >Enter name: </label>
    <input id="title" type="text" name="title_field">
</p>

<p>
    <label >Enter Category: </label>
    <input id="category" type="text" name="category_field">
</p>

<p>
    <label >Enter Description: </label>
    <input id="description" type="text" name="desc_field">
</p>

<p>
    <label >Enter Price: </label>
    <input id="price" type="text" name="price_field">
</p>

<p>
	<label >Upload Image: </label>
    <input type="file" name="image_field">
</p>
    <input type="submit" value="OK">


</form>